################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
node_modules
dist
.cache
/functions/CreateComment/.vs
/functions/CreateComment/bin
/functions/CreateComment/obj
