---
title: Adding business days to a date using SQL
layout: post
tags: post
---

<p>Recently I had a task that seemed very simple at first. I had a table with billing start dates and number of business days to bill. The task was to calculate the end date for each row. Basically to calculate the start date + number of business days without having to worry about holidays.</p>
<p>I was surprised that there is no built-in solution for this seemingly common problem. Here is my own take on the problem.</p>
The logic is quite simple:
<ul>
    <li>for each 5 working days add an entire calendar week to the starting date</li>
    <li>after adding the whole weeks add the remaining days (for example adding 8 days means adding 1 week and 3 days)</li>
    <li>if the resulting date is a Saturday then add 2 more days</li>
    <li>if the resulting date is a Saturday then add 1 more day</li>
</ul>
And here is the resulting code:
<script src="https://gist.github.com/boros-csaba/56477989d6d28a83c4946cfcaa62dfd3.js"></script>
The bellow table lists a few test cases:
<img src="/assets/img/posts/sql-dates-example.png" alt="SQL dates example"/>
<p></p>
<p>Your feedback is welcome! Please let me know if you think there is something important that should be included in this post or if you find anything wrong!</p>
<p>Comments available on <a href="https://dev.to/boroscsaba/adding-business-days-to-a-date-using-sql-26pb" target="_blank">dev.to</a></p>