---
title: Csaba Boros - Full-stack developer
layout: base.njk
description: I solve problems. I'm an experienced, fast learner and enthusiastic full-stack developer with over 8 years of professional experience mostly with the C# .NET, Node.js and React stacks as a freelance developer. I don't shy away from the DevOps and DBA parts of the project either. I also like to create beautiful UIs that users love. Part of the top 3% of developers according to Toptal.
---

{% include "partials/_header.njk" %}
{% include "partials/_offered-services.njk" %}

<div class="section section-skills">
    <div class="section-skills-container">
        <div class="section-title">Projects and employment</div>
        <div class="projects-container">
            <div class="card project-container project-container-right">
                {% image 'src/assets/img/bitstop.png', 'Bitstop', 'company-logo', [169] %}
                <div class="project-title">Crypto currency ATM back-end with Microservice architecture</div>
                <div class="project-subtitle">Client work - Bitstop - (2022 - ONGOING)</div>
                <div class="project-desc">
                    - Designed and developed encryption at rest for sensitive crypto wallet data<br />
                    - Developed and configured Rabbit MQ event publishing and handling<br />
                    - Created and managed Circle CI pipelines<br />
                    - Developed and integration tested REST API endpoints<br />
                    <br/>
                    Technologies: <b>ASP.NET Core, REST, CircleCI, Docker, Docker compose, Rabbit MQ, Insomnia</b>
                </div>
            </div>
            <div class="card project-container">
                {% image 'src/assets/img/atlas.png', 'Atlas', 'company-logo', [106] %}
                <div class="project-title">Criminal records management site using Blazor</div>
                <div class="project-subtitle">Client work - Atlas Technologies (2020 - ONGOING)</div>
                <div class="project-desc">
                    - Created complex user interfaces using Blazor components<br />
                    - Built custom Blazor components (e.g.: for fax and phone input fields and custom controls)<br />
                    - Created REST API endpoints for the back-end part of the website<br />
                    <br />
                    Technologies: <b>Blazor, .NET 5, SCSS, REST, Swagger, Entity Framework, SQL, Azure DevOps</b>
                </div>
            </div>
            <div class="card project-container">
                {% image 'src/assets/img/sellff.JPG', 'Sellff', 'company-logo', [95] %}
                <div class="project-title">Business marketplace website using React and .NET Core</div>
                <div class="project-subtitle">Client work - Sellff (2020 - ONGOING)</div>
                <div class="project-desc">
                    - Created complex user interfaces using React<br />
                    - Built a tool for importing business listings with scraped profile images<br />
                    - Implemented Stripe Connect integration<br />
                    - Set up automated SQL email reports with usage statistics<br />
                    <br />
                    Technologies: <b>React, .NET Core, SQL  Server, Stripe connect</b>
                </div>
            </div>
            <div class="card project-container project-container-right">
                {% image 'src/assets/img/atlas.png', 'Atlas', 'company-logo', [106] %}
                <div class="project-title">SOAP Website with .NET 5</div>
                <div class="project-subtitle">Client work - Atlas Technologies - (2021 - ONGOING)</div>
                <div class="project-desc">
                    - Designed and created a SOAP website using SoapCore to handle Soap1.1 and Soap1.2 requests from legacy third party client applications<br />
                    - Created build and release pipelines in Azure DevOps<br />
                    - Ensured the quality with unit tests and by simulating client requests using SoapUI.<br />
                    <br/>
                    Technologies: <b>ASP.NET Core, SoapCore, SoapUI, Azure DevOps pipelines</b>
                </div>
            </div>
            <div class="card project-container project-container-right">
                {% image 'src/assets/img/bethune.png', 'Bethune Consulting', 'company-logo', [40] %}
                <div class="project-title">Senior software consultant</div>
                <div class="project-subtitle">Client work - Bethune Consulting - (2021 - ONGOING)</div>
                <div class="project-desc">
                    - Built and improved client website UIs using React<br />
                    - Created build and release pipelines in Netlify<br />
                    - Deployed and set up edX website in AWS EC2 instance<br />
                    <br/>
                    Technologies: <b>React, Gatsby, Netlify, AWS Route 53, AWS EC2</b>
                </div>
            </div>
            <div class="card project-container project-container-right">
                {% image 'src/assets/img/lombiq.jpg', 'Lombiq', 'company-logo', [40] %}
                <div class="project-title">.NET development with Orchard Core CMS</div>
                <div class="project-subtitle">Client work - Lombiq - (2021 - 2022)</div>
                <div class="project-desc">
                    - Worked on the development of a Visual Studio Extension<br />
                    - Implemented new features in various client CMS websites<br />
                    - Developed UI features using jQuery<br />
                    <br/>
                    Technologies: <b>ASP.NET Core, Orchard CMS, jQuery, Javascript</b>
                </div>
            </div>
            <div class="card project-container">
                {% image 'src/assets/img/atlas.png', 'Atlas', 'company-logo', [106] %}
                <div class="project-title">Xamarin and React Native app for healthcare company</div>
                <div class="project-subtitle">Client work - Atlas Technologies - (2020 - PRESENT)</div>
                <div class="project-desc">
                    - Created certificates and published app to iOS and Android stores<br />
                    - Designed custom components and renderers for multiple components<br />
                    - Worked with Xamarin App-Linking (deep-linking)<br />
                    <br />
                    Technologies: <b>Xamarin, React Native, Android, iOS</b>
                </div>
            </div>
            <div class="card project-container project-container-right">
                {% image 'src/assets/img/bcm.png', 'BCM', 'company-logo', [137] %}
                <div class="project-title">Technical Lead</div>
                <div class="project-subtitle">Client work - BCM - (2015 - 2022)</div>
                <div class="project-desc">
                    - Planned and coded a complex data migration tool affecting multiple systems.<br />
                    - Achieved huge performance gains by profiling and optimizing a very large legacy system.<br />
                    - Managed and supervised the work of junior programmers on multiple small and mid-sized projects.<br />
                    - Worked on creating a complex Angular-based front-end for a telecommunications network diagram creator tool.<br />
                    - Created a project management application using XAF.<br />
                    <br />
                    Technologies: <b>SQL, DevExpress, Knockout.js, Angular, ASP.NET MVC</b>
                </div>
            </div>
            <div class="card project-container">
                {% image 'src/assets/img/elenora.svg', 'Elenora', 'company-logo', [200] %}
                <div class="project-title">Ecommerce jewelry store</div>
                <div class="project-subtitle">Own project - www.elenora.hu - (2019 - ONGOING)</div>
                <div class="project-desc">
                    - Built an automated inventory management system.<br />
                    - Created interactive bracelet designer on the UI for the customers.<br />
                    - Implemented automatic importing of product data from Google Sheets.<br />
                    - Integrated with various services such as Facebook API, Google Shopping, billing system, and payment gateways.<br />
                    - Wrote Python script for generating 3D rendered product images and videos for bracelets created by a designer tool in the admin panel.<br />
                    - Built automated newsletter sending functionality.<br />
                    <br />
                    Technologies: <b>ASP.NET Core MVC, Angular 8, Python, Blender 3D, jQuery, SCSS</b>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-github">
    <div class="section-skills-container">
        <div class="section-title">Hobby projects and POCs</div>
        <div class="projects-container">
            <div class="github-card">
                <div class="github-card-header">
                    <a href="https://github.com/boros-csaba/3d-bracelet-render-image-generator" target="_blank">
                        <svg class="github-repo-icon" viewBox="0 0 16 16">
                            <path fill="#656d76" d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z"></path>
                        </svg>
                        <span>Hobby / <b>3d bracelet image generator script</b></span>
                    </a>
                </div>
                <div class="github-card-desc">
                    A script for generating photo-realistic renders of bead bracelets. These images were used in a real webshop with more than 1000 customers.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-posts">
    <div class="section-container">
        <div class="section-title">Some posts I wrote</div>
        <h2>
            <a href="/posts/ssl-certificates-guide/">SSL Certificates - an easy to understand guide</a>
        </h2>
        <h2>
            <a href="/posts/adding-business-days-to-a-date-using-sql/">Adding business days to a date using SQL</a>
        </h2>
        <h2>
            <a href="/posts/architecture-of-my-portfolio-website/">Architecture of my portfolio website</a>
        </h2>
    </div>
</div>