---
title: Csaba Boros - Full-stack developer
layout: base.njk
description: I solve problems. I'm an experienced, fast learner and enthusiastic full-stack developer with over 8 years of professional experience mostly with the C# .NET, Node.js and React stacks as a freelance developer. I don't shy away from the DevOps and DBA parts of the project either. I also like to create beautiful UIs that users love. Part of the top 3% of developers according to Toptal.
---

{% include "partials/_header.njk" %}
{% include "partials/_offered-services.njk" %}

<div class="section section-skills">
    <div class="section-skills-container">
        <div class="section-title">Work history</div>
        <div class="projects-container">
            <div>
                <div class="project-container">
                    {% image 'src/assets/img/bitstop.png', 'Bitstop', 'company-logo', [169] %}
                    
                    <div class="project-title">Senior Back End Developer</div>
                    <div class="project-top-subtitle">2022 - Present</div>
                    <div class="project-subtitle">Bitstop</div>
                    <div class="project-desc">
                        Developed and worked on multiple services inside a complex microservice architecture to facilitate handling of cryptocurrency purchases and data management tasks.
                    </div>
                    <div class="project-desc">
                        Technologies: <b>ASP.NET Core, REST, CircleCI, Docker, Docker compose, Rabbit MQ, Insomnia</b>
                    </div>
                </div>

                <div class="project-container">
                    {% image 'src/assets/img/pittsburgh.png', 'University of Pittsburgh', 'company-logo indented', [130] %}
                    <div class="project-title">Senior Full Stack Engineer</div>
                    <div class="project-top-subtitle">2023 - Present</div>
                    <div class="project-subtitle">University of Pittsburgh</div>
                    <div class="project-desc">
                        Worked on modernizing a legacy ASP.NET WebForm application written in VB. Created complex UIs based on a figma design using Tailwind CSS and Javascript.
                    </div>
                    <div class="project-desc">
                        Technologies: <b>JavaScript, ASP.NEW Webforms, Tailwind CSS, IIS, Visual Basic .NET (VB.NET)</b>
                    </div>
                </div>

                <div class="project-container">
                    {% image 'src/assets/img/bethune.png', 'Bethune Consulting', 'company-logo indented', [32] %}
                    <div class="project-title">DevOps Engineer</div>
                    <div class="project-top-subtitle">2022 - Present</div>
                    <div class="project-subtitle">Bethune Consulting</div>
                    <div class="project-desc">
                        Worked on multiple smaller tasks involving creating or fixing CI/CD pipelines, setting up infrastructure in AWS, bug fixes and changes in multiple projects.
                    </div>
                    <div class="project-desc">
                        Technologies: <b>React, Amazon S3, CI/CD, Netlify, AWS Route 53, AWS EC2</b>
                    </div>
                </div>

                <div class="project-container">
                    {% image 'src/assets/img/sellff.JPG', 'Sellff', 'company-logo indented', [95] %}
                    <div class="project-title">Senior Full Stack Developer</div>
                    <div class="project-top-subtitle">2021 - 2022</div>
                    <div class="project-subtitle">Sellff</div>
                    <div class="project-desc">
                        Added multiple features to the Sellff business marketplace website, most notably I implemented a feature that allows users to get paid using Stripe Connect for participating in offers created by member companies.
                    </div>
                    <div class="project-desc">
                        Technologies: <b>React, .NET Core, SQL  Server, Stripe connect</b>
                    </div>
                </div>
            </div>
            <div>
                <div class="project-container">
                    {% image 'src/assets/img/atlas.png', 'Atlas', 'company-logo', [106] %}
                    <div class="project-title">Senior Full Stack Developer</div>
                    <div class="project-top-subtitle">2021 - 2022</div>
                    <div class="project-subtitle">Atlas Tech Development</div>
                    <div class="project-desc">
                        As a full stack engineer I worked and improved on multiple different projects at Atlas: I've set up CI/CD pipelines in Azure devops, implemented secrets management, developed SOAP website with .NET 5, built complex UIs and API using Blazor and .NET, re-wrote and ported applications build in Microsoft Access VB to C#, worked on mobile apps built using Xamarin.
                    </div>
                    <div class="project-desc">
                        Technologies: <b>CI/CD, Blazor, .NET 5, SCSS, REST, EF, SQL, Azure DevOps, VB</b>
                    </div>
                </div>

                <div class="project-container">
                    {% image 'src/assets/img/lombiq.jpg', 'Lombiq', 'company-logo', [40] %}
                    <div class="project-title">Software Developer</div>
                    <div class="project-top-subtitle">2021 - 2022</div>
                    <div class="project-subtitle">Lombiq Technologies Ltd</div>
                    <div class="project-desc">
                        Worked on the development of a Visual Studio Extension and implemented new features in various client CMS websites. Also developed UI features using jQuery.
                        </div>
                    <div class="project-desc">
                        Technologies: <b>ASP.NET Core, Orchard CMS, jQuery, Javascript</b>
                    </div>
                </div>

                <div class="project-container">
                    {% image 'src/assets/img/bcm.png', 'BCM', 'company-logo', [137] %}
                    <div class="project-title">Technical Lead</div>
                    <div class="project-top-subtitle">2014 - 2022</div>
                    <div class="project-subtitle">BCM</div>
                    <div class="project-desc">
                        Planned and coded a complex data migration tool affecting multiple systems. Achieved huge performance gains by profiling and optimizing a very large legacy system. Managed and supervised the work of junior programmers on multiple small and mid-sized projects. Worked on creating a complex Angular-based front-end for a telecommunications network diagram creator tool. Created a project management application using XAF.
                    </div>
                    <div class="project-desc">
                        Technologies: <b>SQL, C#, DevExpress, Knockout.js, Angular, ASP.NET MVC</b>
                    </div>
                </div>
                <!--
                <div class="project-container">
                    {% image 'src/assets/img/elenora.svg', 'Elenora', 'company-logo', [200] %}
                    <div class="project-title">Ecommerce jewelry store</div>
                    <div class="project-subtitle">Own project - www.elenora.hu - (2019 - ONGOING)</div>
                    <div class="project-desc">
                    - Built an automated inventory management system.<br/>
                    - Created interactive bracelet designer on the UI for the customers.<br/>
                    - Implemented automatic importing of product data from Google Sheets.<br/>
                    - Integrated with various services such as Facebook API, Google Shopping, billing system, and payment gateways.<br/>
                    - Wrote Python script for generating 3D rendered product images and videos for bracelets created by a designer tool in the admin panel.<br/>
                    - Built automated newsletter sending functionality.<br/>
                        <br/>
                    Technologies: <b>ASP.NET Core MVC, Angular 8, Python, Blender 3D, jQuery, SCSS</b>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>

{% include "partials/_posts.njk" %}

<!--

<div class="section section-github">
    <div class="section-skills-container">
        <div class="section-title">Hobby projects and POCs</div>
        <div class="projects-container">

            <div class="github-card">
                <div class="github-card-header">
                    <a href="https://github.com/boros-csaba/3d-bracelet-render-image-generator" target="_blank">
                        <svg class="github-repo-icon" viewBox="0 0 16 16">
                            <path fill="#656d76" d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z"></path>
                        </svg>
                        <span>Hobby / <b>3d bracelet image generator script</b></span>
                    </a>
                </div>
                <div class="github-card-image-container">
                    {% image 'src/assets/img/3d-bracelet.gif', 'Elenora', 'github-card-image', [150], ['webp', 'gif'] %}
                </div>
                <div class="github-card-desc">
                    A script for generating photo-realistic renders of bead bracelets. These images were used in a real webshop with more than 1000 customers and it was featured on hungarian TV.
                </div>
            </div>

            <div class="github-card">
                <div class="github-card-header">
                    <a href="https://github.com/boros-csaba/3d-bracelet-render-image-generator" target="_blank">
                        <svg class="github-repo-icon" viewBox="0 0 16 16">
                            <path fill="#656d76" d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z"></path>
                        </svg>
                        <span>Hobby / <b>3d bracelet image generator script</b></span>
                    </a>
                </div>
                <div class="github-card-image-container">
                    {% image 'src/assets/img/investments.gif', 'Investments calculator', 'github-card-image', [150], ['webp', 'gif'] %}
                </div>
                <div class="github-card-desc">
                    A script for generating photo-realistic renders of bead bracelets. These images were used in a real webshop with more than 1000 customers and it was featured on hungarian TV.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-posts">
    <div class="section-container">
        <div class="section-title">Some posts I wrote</div>
        <h2>
            <a href="/posts/ssl-certificates-guide/">SSL Certificates - an easy to understand guide</a>
        </h2>
        <h2>
            <a href="/posts/adding-business-days-to-a-date-using-sql/">Adding business days to a date using SQL</a>
        </h2>
        <h2>
            <a href="/posts/architecture-of-my-portfolio-website/">Architecture of my portfolio website</a>
        </h2>
    </div>
</div>
-->