<div class="section section-certifications">
    <div class="section-skills-container">
        <div class="section-title">Certifications</div>
        <div class="github-projects-container">
            <div class="github-card certification-card">
                <a href="https://www.credly.com/badges/f7e92c7c-f2c6-402f-9572-a0540fced35e/linked_in_profile" target="_blank" class="certification-link">
                    <div class="certification-badge-container">
                        <img src="https://images.credly.com/size/340x340/images/b9feab85-1a43-4f6c-99a5-631b88d5461b/image.png" alt="AWS Certified Developer - Associate" class="certification-badge">
                    </div>
                    <div class="github-card-header">
                        <span><b>AWS Certified Developer – Associate</b></span>
                    </div>
                    <div class="github-card-desc">
                        Amazon Web Services (AWS)
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
