<div class="section section-header">
    <div class="section-header-container">
        <div class="section-header-image-container">
            {% image 'src/assets/img/boroscsaba.jpg', 'Csaba Boros', 'section-header-image', [400] %}
        </div>
        <div class="section-header-desc-container">
            <div class="section-header-desc-container-top">
                {% image 'src/assets/img/boroscsaba-mobile.jpg', 'Csaba Boros', 'section-header-image-mobile', [154] %}
                <div>
                    <div class="section-header-desc-small-title">Hello</div>
                    <div class="section-header-desc-title">I'm</div>
                    <div class="section-header-desc-title">Csaba Boros</div>
                    <br />
                    <div class="section-header-desc-title">Full-stack developer</div>
                </div>
            </div>

            <div class="section-header-desc-text">
                <b>I solve problems</b>. I'm an experienced, fast learner and enthusiastic <b>full-stack</b> developer with over <b>10 years</b> of professional experience. Hire me if you need someone who can hit the ground running and <b>provide value from day 1!</b><br />
                Part of the <b>top 3%</b> of developers according to <a href="https://www.toptal.com/resume/boros-csaba" target="_blank">Toptal</a>.
            </div>

            <div class="contact-info">
                <div>Let's have a chat! </div>
                <div>Contact me at: </div>
                <a href="mailto:boros.csaba94@gmail.com">boros.csaba94@gmail.com</a><br />
            </div>
        </div>
    </div>

    <div class="contact-links">
        <a class="contact-link" href="https://github.com/boros-csaba" target="_blank">
            {% image 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg', 'Github', null, [28] %}
            Github profile
        </a>
        <a class="contact-link" href="https://www.linkedin.com/in/boroscsaba/" target="_blank">
            {% image 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg', 'Linkedin', null, [28] %}
            Linkedin profile
        </a>
        <a class="contact-link" href="https://www.toptal.com/resume/boros-csaba" target="_blank">
            {% image 'src/assets/img/toptal.svg', 'Toptal', null, [28] %}
            Toptal profile
        </a>
        <a class="contact-link" href="/assets/cv.pdf" target="_blank">
            {% image 'src/assets/img/pdf.svg', 'PDF', null, [28] %}
            Download CV as PDF
        </a>
    </div>
</div>