<div class="section section-offered-services">
    <div class="section-container">
        <div class="section-title">Offered services</div>
        <div class="section-services-container">
            <div class="services-list">
                <h2 class="services-list-title"><span style="background: green; color: white; padding: 2px 5px;">Available</span> for contract work, preferably on a long term basis.</h2>
                <p>
                    Your project isn't going the way you hoped? Let me take a look at your code base from a fresh perspective and help you finding the right direction for your project!
                </p>
                <!-- <p>My current rate is <b>$90/h</b></p> -->
            </div>
            <div class="service-list-icons-container">
                <b>Some of the technologies I use</b>
                <div class="service-list-tech">
                    <div class="tech-chip">
                        {% image 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg', 'C#', null, [26] %}
                        <div>C#</div>
                    </div>
                    <div class="tech-chip">
                        {% image 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg', '.NET', null, [26] %}
                        <div>.NET</div>
                    </div>
                    <div class="tech-chip">
                        {% image 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-plain.svg', 'Node.js', null, [26] %}
                        <div>Node.js</div>
                    </div>
                    <div class="tech-chip">
                        {% image 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg', 'React', null, [26] %} 
                        <div>React</div>
                    </div>
                    <div class="tech-chip">
                        {% image 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/blazor/blazor-original.svg', 'Blazor', null, [26] %} 
                        <div>Blazor</div>
                    </div>
                    <div class="tech-chip">
                        {% image 'https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-original-wordmark.svg', 'AWS', null, [26] %}
                        <div>AWS</div>
                    </div>
                    <div class="tech-chip">
                        {% image 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg', 'Docker', null, [26] %}
                        <div>Docker</div>
                    </div>
                    <div class="tech-chip">
                        {% image 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kubernetes/kubernetes-plain.svg', 'Kubernetes', null, [26] %}
                        <div>Kubernetes</div>
                    </div>
                    <div class="tech-chip">
                        {% image 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original.svg', 'Azure', null, [26] %} 
                        <div>Azure</div>
                    </div>
                    <div class="tech-chip">
                        {% image 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/terraform/terraform-original.svg', 'Terraform', null, [26] %} 
                        <div>Terraform</div>
                    </div>
                    <div class="tech-chip">
                        {% image 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/circleci/circleci-plain.svg', 'CircleCI', null, [26] %} 
                        <div>CircleCI</div>
                    </div>
                    <div class="tech-chip">
                        {% image 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain.svg', 'SQL Server', null, [26] %} 
                        <div>SQL Server</div>
                    </div>
                    <div class="tech-chip">
                        {% image 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg', 'Postgres', null, [26] %} 
                        <div>PostgreSQL</div>
                    </div>
                </div>
                <small>And much more...</small>
            </div>
        </div>
    </div>
</div>