<div class="section section-github">
    <div class="section-skills-container">
        <div class="section-title" id="tutorials">Posts and tutorials</div>
        <div class="github-projects-container">
            <div class="github-card">
                <div class="github-card-image-container">
                    {% image 'src/assets/img/posts/upload-docker-image-to-aws-ecr.png', 'Upload docker image to AWS ECR', 'github-card-image', [230] %}
                </div>
                <div class="github-card-header">
                    <a target="_blank" href="https://medium.com/@boros.csaba94/how-to-upload-a-docker-image-to-ecr-using-aws-cli-f21a447214d1?sk=430c374aa977c4f6865c8cb859fa62ec">
                        <span>How to upload a Docker image to ECR using AWS CLI</span>
                    </a>
                </div>
                <div class="github-card-desc">
                    A quick tutorial on how to upload a Docker image to AWS ECR using AWS CLI. The tutorial also walks you through setting up an IAM user with the necessary permissions to upload to ECR from the CLI.
                </div>
                <div class="github-technologies">
                    <span class="github-technology-color github-technology-color-devops">
                        DevOps
                    </span>
                    <span class="github-technology-color github-technology-color-s3">
                        AWS ECR
                    </span>
                    <span class="github-technology-color github-technology-color-ghactions">
                        Docker
                    </span>
                </div>
            </div>

            <div class="github-card">
                <div class="github-card-image-container">
                    {% image 'src/assets/img/posts/terraform-local-file-creation.png', 'Terraform local file', 'github-card-image', [250] %}
                </div>
                <div class="github-card-header">
                    <a href="/posts/run-terraform-locally-to-create-local-files/">
                        <span>Simple way to play around with terraform locally without any cloud account</span>
                    </a>
                </div>
                <div class="github-card-desc">
                    An easy way to start playing around with terraform locally without using any cloud account or any complicated local kubernetes setup.
                </div>
                <div class="github-technologies">
                    <span class="github-technology-color github-technology-color-devops">
                        DevOps
                    </span>
                    <span class="github-technology-color github-technology-color-terraform">
                        Terraform
                    </span>
                </div>
            </div>

            <div class="github-card">
                <div class="github-card-image-container">
                    {% image 'src/assets/img/posts/encryption-at-rest.jpg', 'Encryption at rest', 'github-card-image', [261] %}
                </div>
                <div class="github-card-header">
                    <a href="/posts/encryption-at-rest-using-ef/">
                        <span>Encryption at rest using EF</span>
                    </a>
                </div>
                <div class="github-card-desc">
                    Encryption at rest can come in handy when we have some sensitive data that we need to store in our database and we don't want to store it in plain text for everyone to see. In my case I needed to store some API keys in the database...
                </div>
                <div class="github-technologies">
                    <span class="github-technology-color github-technology-color-ef">
                        Entity Framework
                    </span>
                    <span class="github-technology-color github-technology-color-security">
                        Security
                    </span>
                    <span class="github-technology-color github-technology-color-net">
                        C# .NET
                    </span>
                </div>
            </div>

            <div class="github-card">
                <div class="github-card-image-container">
                    {% image 'src/assets/img/posts/ssl.jpg', 'SSL', 'github-card-image', [297] %}
                </div>
                <div class="github-card-header">
                    <a href="/posts/ssl-certificates-guide/">
                        <span>SSL Certificates - an easy to understand guide</span>
                    </a>
                </div>
                <div class="github-card-desc">
                    As with any technology, I think it's very important that first we understand the problem that this technology is trying to solve. Let's try to understand the problem through an example...
                </div>
                <div class="github-technologies">
                    <span class="github-technology-color github-technology-color-devops">
                        DevOps
                    </span>
                    <span class="github-technology-color github-technology-color-security">
                        Security
                    </span>
                </div>
            </div>

            <div class="github-card">
                <div class="github-card-image-container">
                    {% image 'src/assets/img/posts/portfolio-architecture.jpg', 'Portfolio architecture', 'github-card-image', [326] %}
                </div>
                <div class="github-card-header">
                    <a href="/posts/architecture-of-my-portfolio-website/">
                        <span>Architecture of my portfolio website</span>
                    </a>
                </div>
                <div class="github-card-desc">
                    Initially I just created a simple static HTML and CSS page with some images to serve as my portfolio page - no frameworks, (almost) no javascript - why over complicate it? After some time I decided that I would also write a few blog posts and tutorials...
                </div>
                <div class="github-technologies">
                    <span class="github-technology-color github-technology-color-11ty">
                        11ty
                    </span>
                    <span class="github-technology-color github-technology-color-s3">
                        Amazon S3
                    </span>
                    <span class="github-technology-color github-technology-color-ghactions">
                        Github Actions
                    </span>
                    <span class="github-technology-color github-technology-color-cloudfront">
                        CloudFront
                    </span>
                </div>
            </div>

            <div class="github-card">
                <div class="github-card-image-container">
                    {% image 'src/assets/img/posts/sql-add-days.jpg', 'SQL add days', 'github-card-image', [234] %}
                </div>
                <div class="github-card-header">
                    <a href="/posts/adding-business-days-to-a-date-using-sql/">
                        <span>Adding business days to a date using SQL</span>
                    </a>
                </div>
                <div class="github-card-desc">
                    Recently I had a task that seemed very simple at first. I had a table with billing start dates and number of business days to bill. The task was to calculate the end date for each row. Basically to calculate the start date + number of business days...
                </div>
                <div class="github-technologies">
                    <span class="github-technology-color github-technology-color-sql">
                        SQL
                    </span>
                    <span class="github-technology-color github-technology-color-mssql">
                        MS SQL Server 
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>