<div class="section section-subheader">
    <div class="subheader-buttons">
        <a class="subheader-button" href="/">
            Home
        </a>
        <a class="subheader-button" href="#tutorials">
            More tutorials
        </a>
    </div>
</div>